<style>
.button {
    background-color: #f44336; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


td {
	width: 200px;
	font-size: 2em;
	font-weight: bold;
	color: white
}

td:nth-child(1) {
	text-align: left;
}
td:nth-child(2) {
	text-align: center;
}
td:nth-child(3) {
	text-align: right;
}

</style>

<h1><b>Dashboard</b></h1>	
<table>
<tr>
	<td>Science</font></td>
	<td>Computer</font></td>	
	<td>
	<form method="post" action="/game/first">
	<button type="submit" value="1"  name="index"  class="button"  >Start Game</button></td>
	</form>
</tr>
</br>
<tr>
	<td>Science</font></td>	
	<td>Nature</font></td>	
	<td>
	<form method="post" action="/game/first">
	<button type="submit" value="2"  name="index" class="button">Start Game</button></td>
	</form>
</tr>
<tr>
	<td>Entertainment</td>	
	<td>Television</td>	
	<td align="right">
	<form method="post" action="/game/first">
	<button type="submit" value="3"  name="index" class="button">Start Game</button></td>
	</form>	
</tr>
<tr>
	<td>Entertainment</td>	
	<td>Music</td>
	<td align="right">
	<form method="post" action="/game/first">
	<button type="submit" value="4"  name="index" class="button">Start Game</button></td>
	</form>
</tr>
	</form>
</table>

</br>
</br>
